.resources__logo-zone {
  display: flex;
  /* В брифе об этом не было сказано, и после первого ревью я не получил замечание по
  этому вопросу, но я решил убрать кусочек путого пространства в конце, после лого, что бы все элементы стали ровно по сетке,
   мне это кажется логичным.*/
  justify-content: space-between;
  width: 1100px;
  list-style: none;
  margin: 80px auto 0;
  padding: 0;
}
